# Use this file to customize and configure the behavior of your EC2 instances when the application is deployed.
# Configuration files should conform to YAML or JSON formatting standards.
# You may want to customize and configure the software that your application depends on. These files could be either dependencies required by the application—for example, additional packages from the yum repository—or they could be configuration files such as a replacement for httpd.conf to override specific settings that are defaulted by AWS Elastic Beanstalk.
# See: http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/customize-containers.html#customize-containers-format
